/* Default CSS */
/* Mobile - Portrait */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    
}

.navBar {
    position: sticky;
    top: 0px;
    background-color: black;
    width: 100%;
    height: 75px;
    line-height: 75px;
    z-index: 1000;
}

.logo_image {
    height: 100%;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.menu {
    height: 100%;
    float: right;
}

.menu>ul li {
    display: inline-block;
    padding-right: 20px;
    font-weight: bolder;
    font-size: 20px;
    color: white;
}

.main {
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 33vh;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
}

.items {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: gray;
}

/* Mobile - Landscape */
@media (min-width: 576px) {
    .menu>ul li {
        display: inline-block;
        padding-right: 20px;
        font-weight: bolder;
        font-size: 30px;
        color: white;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 60vh;
        grid-gap: 1rem;
    }
}

/* Tablet */
/* Desktop */
@media (min-width: 768px) {
    .main {
        height: 100%;
        width: 100%;
    }
    .menu>ul li {
        display: inline-block;
        padding-right: 20px;
        font-weight: bolder;
        font-size: 30px;
        color: white;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 33vh;
        grid-gap: 1rem;
        justify-items: center;
        align-items: center;
    }
/*
    .items {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: gray;
    }
*/
    .items {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: gray;
    }
}